# GitHub Actions YAML file adapted from actions/example-services repo, ./mongodb directory
# See for more info: https://github.com/actions/example-services/tree/7ae0b005cc273e2000e12ccf54f01e796c22b3e4

name: Mongodb Service Example

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  # Runs all steps on the VM
  # The service containers will use host port binding instead of container networking so you access them via localhost rather than the service name
  vm-job:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo
        ports:
          # will assign a random free host port
          - 27017:27017

    steps:
      - uses: actions/checkout@v1     
      - run: npm ci
      - run: npm test
        env:
          # use localhost for the host here because we are running the job on the VM.
          # If we were running the job on in a container this would be mongodb
          TEST_DB_NAME: test-database
          TEST_DB_URI: http://localhost:27017
          TEST_COLLECTION_NAME: test-collection