# GitHub Actions YAML file adapted from actions/example-services repo, ./mongodb directory
# See for more info: https://github.com/actions/example-services/tree/7ae0b005cc273e2000e12ccf54f01e796c22b3e4

name: Mongodb Service Example

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  container-job:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
      - run: npm ci

      - run: brew install mongodb-community
      - run: brew services start mongo-community
        
      - run: npm test
        env:
          # use localhost for the host here because we are running the job on the VM.
          # If we were running the job on in a container this would be mongodb
          TEST_DB_NAME: test-database
          TEST_DB_URI: mongodb://127.0.0.1:27017
          TEST_COLLECTION_NAME: test-collection  